$mainColor: #ff0000;

.red {
    color: $mainColor;
}

@mixin alert {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    p {
        margin-bottom: 0;
    }
}

.my-alert {
    @include alert();
}

.my-alert-red {
    @extend .my-alert;
    background-color: #ffc;
}

.trans-enter {
    opacity: 0;
}

.trans-enter-active {
    opacity: 1;
    transition: all 500ms;
}

// div.container h4 {
//     color: blue;
// }

// div.container p {
//     color: green;
// }

/**
nesting 문법
*/
// div.container {
//     h4 {
//         color: blue;
//     }

//     p {
//         color: green;
//     }
// }
